body {
	background-image: url('../images/clouds.jpg');
}
h1 {
	text-align: center;
}
input[type='radio']:checked + label {
	height: 25px;
	font-size: 30px;
}

input[type='radio']:unchecked + label {
	height: 25px;
	font-size: 30px;
}